@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-700: 59, 93, 207;
    --color-primary-500: 86, 123, 245;
    --color-primary-300: 110, 143, 251;

    --color-secondary-700: 17, 17, 18;
    --color-secondary-500: 34, 34, 39;
    --color-secondary-300: 52, 52, 63;

    --color-service-bg: 0, 0, 5;

    --color-service-text-700: 246, 248, 255;
    --color-service-text-500: 187, 187, 187;

    --color-border-700: 52, 52, 63;

    --color-foreground-700: 229, 229, 229;

    --color-overlay-700: rgba(0, 0, 0, 0.05);
  }

  body,
  button,
  input,
  a {
    font-family: "Montserrat", sans-serif;
  }

  *,
  ::before,
  ::after {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    user-select: none;
  }
}

@layer components {
  * {
    @apply scroll-py-[48px];
  }
}

@layer utilities {
  .margins {
    @apply px-6 xl:px-8 2xl:px-12;
  }

  .animation {
    @apply duration-300 transition-all;
  }

  .animation-2 {
    transition: all 0.3s cubic-bezier(0, 0, 0.1, 1.08) 0s;
  }

  .animation-3 {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  .button,
  .button-primary {
    @apply outline-none flex flex-row justify-center items-center relative
    min-h-[50px] py-[10px] px-[18px] rounded-[7px]
    border-[1px] border-transparent bg-primary-700 hover:bg-primary-300
    text-[15px] 2xl:text-[16px] font-[500] text-white text-center
    leading-[1.6] cursor-pointer
    duration-300 transition-all;
  }

  .button-primary-hollow {
    @apply outline-none flex flex-row justify-center items-center relative
    min-h-[50px] py-[10px] px-[16px] rounded-[7px]
    border-[1.5px] border-primary-700 bg-transparent
    text-[15px] font-[500] text-service-700 text-center
    leading-[1.6] tracking-[-0.015em] cursor-pointer
    duration-300 transition-all;
  }

  .hideScroll::-webkit-scrollbar {
    display: none;
  }

  .hideScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bg-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    @apply bg-secondary-700;
  }

  .hide {
    opacity: 0;
    visibility: hidden;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }
}
